/* PatientHeader.css */
.patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.left-options {
  display: flex;
  align-items: center;
}

.left-options p {
  margin-right: 10px; /* Adjust as needed */
}

.left-options a {
  text-decoration: none;
  color: #333;
  margin-right: 20px; /* Adjust as needed */
}

.active {
  font-weight: bold;
}

.right-options button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
}
